@model CampusGuidebook.ViewModel.EventViewModel;
@addTagHelper "*, Microsoft.aspNetCore.Mvc.TagHelpers"
@{
    ViewData["Title"] = "Event Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Events</h1>
<div class="EventList">
    <!---Search function below-->
    <form asp-action="Index">
        Search: <imput id="SearchEvent" name="SearchEvent"/>
        <imput type="submit" value="Find Event"></imput>
        <a asp-action="SearchEvents" asp-controller="Home"></a>
    </form>

    <!---Each event made into a list below-->
    @foreach (var Events in Model){
        <table>
        <tr class="SingleEventBox">
            <a asp-action="EventSelected" asp-controller="Home" asp-route-id="@Events.id">
            <td><img src="@Events.ImgUri" class="EventImage"></img>
                          @Events.Name</td></a>
        </tr>
        </table>
    }
</div>

<!---Displays selected event info-->
<div class="EventInfo">
    <img class="DisplayImg" src="@Events.ImgUri"></img>
    <p>@Events.Name</p>
        <select asp-for="UploadStatusString" asp-items="@new SelectList(Enum.GetNames(typeof(UploadStatusEnum)))"></select>
        <option disabled selected value="">@UploadStatusString</option>
    <p>@Events.Location</p>

    <label for="desc">Description:</label>
    <imput type="text" id="EventDescription">@Events.Description</imput>
    <imput type="submit" value="save">

    <p>@Events.LastUpdated</p>

    <!---This is where the hiden rejection box goes with the block and whatnot-->
    <p></p>
</div>

<!---Additional scripting and css to lign up the page-->
<script>
    $( function(){
    $("imput#SearchEvent").autocomplete({
        source: "api/Event/Name",
        minLength: 2
    });});
</script>
<css>
    .EventList{
        position: relative;
        width: 15vw;
        height: 35vh;
        float: left;
    }
    .EventInfo{
        float: right; }
    .EventImage{
        width: 3.5vw;
        height: 3.5vw;
        float: left;
    } table{
    border-collapse: collapse;
    }
    #EventDescription{
    width: 15vw;
    height: 10vh;
    }
    .DisplayImg{
    float: left;
    width: 7vw;
    height: 7vh;
    }
</css>