@model CampusGuidebook.ViewModels.EventViewModel;
@addTagHelper "*, Microsoft.aspNetCore.Mvc.TagHelpers"
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var visability = Model.ShowReject ? "block" : "none";
}
<style type="text/css" src="~/css/site.css"></style>
<body>

<h1>Requested Event</h1>

<table>
  <tr>
    <th>Event Name</th>
    <th>Club name</th>
    <th>Location</th>
    <th>Description</th>
    <th>Image</th>
  </tr>
  <tr>
    <td>@Model.Name</td>
    <td>@Model.ClubName</td>
    <td>@Model.Location</td>
    <td>@Model.Description</td>
    <td><img src="@Model.ImgUri" width="4vw" height="4vh"></td>
  </tr>
</table>

<div class="row">
<form asp-controller="Home" asp-action="EventResponse" method="Post">

    <div hidden="true">
    <input asp-for= "Name" value=@Model.Name>
    <input asp-for= "ClubName" value=@Model.ClubName>
    <input asp-for= "Location" value=@Model.Location>
    <input asp-for= "Description" value=@Model.Description>
    <input asp-for= "ImgUri" value=@Model.ImgUri>
    
    </div>

   
    <h2>Administrative responce</h2>
    <div class="selectToLeft">
        <label class="col-2 justify-content-end" asp-for="UploadStatus">Event Decision?:</label>
        <select class="col-2 align-content-center" id="isRejected" asp-for="UploadStatus">
            <option value=1 asp-controller="Home" asp-action="CloseReason">Approve</option>
            <option value=2 asp-controller="Home" asp-action="OpenReason">Denied</option>
        </select>
    </div>
    <div class="row mt-3">
        <span style="display:@visability" class="TxtBoxToRight">
            <label class="col-5" iod="RejectionLabel" hidden="true">Why is this event being rejected?</label>
            <textarea class="col-5"id="RejectionReason" hidden ="true"></textarea>
        </span>
    </div>
    <button class="SubButton" type="submit" asp-controller="Home" asp-action="EventResponse">Submit</button>
</form>
</div>

<script type="text/javascript" src="~/js/js/EventResponseAjax.js"></script>
</body>