@addTagHelper "*, Microsoft.aspNetCore.Mvc.TagHelpers"
@model CampusGuidebook.ViewModels.EventSearchResultVM;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form>

<h1>Event Status</h1>

<h2>Pending Events</h2>
    @foreach (var eventInfoModel in @Model.EventList)
    {
        if(eventInfoModel.UploadStatus == 0)
        {
        <div > <!-- Added in -->
            <a class="text-dark" asp-area="" asp-controller="Home" asp-action="holder">@eventInfoModel.Name @eventInfoModel.Location @eventInfoModel.eventDate</a>
        </div>
        }

        
    }

<h2>Approved</h2>
     @foreach (var eventInfoModel in @Model.EventList)
    {
        if(eventInfoModel.UploadStatus == 1)
        {
        <div > <!-- Added in -->
            <a class="text-dark" asp-area="" asp-controller="Home" asp-action="holder">@eventInfoModel.Name</a>
        </div>
        }

    }

<h2>Denied</h2>
     @foreach (var eventInfoModel in @Model.EventList)
    {
        if(eventInfoModel.UploadStatus == 2)
        {
        <div > <!-- Added in -->
            <a class="text-dark" asp-area="" asp-controller="Home" asp-action="holder">@eventInfoModel.Name</a>
        </div>
        }

    }
</form>