@using SelectBindingEnum.Models;
@model CampusGuidebook.ViewModels.EventViewModel;
@addTagHelper "*, Microsoft.aspNetCore.Mvc.TagHelpers"
@{
    ViewData["Title"] = "Event Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Event</h1>
<!---Displays selected event info-->
<div class="EventInfo">
    <img class="DisplayImg" src="@Model.ImgUri"></img>
    <p>@Model.Name</p>
    <p>Current status: @Model.UploadStatusString</p>
    <p>@Model.Location</p>
        <select asp-for="@Model.UploadStatusString" asp-items="Html.GetEnumSelectList<UploadStatusEnum>()"></select>
            <option value="Pending">Pending</option>
            <option value="Rejected">Rejected</option>
            <option value="Accepted">Accepted</option>

    <imput type="text" id="EventDescription">@Model.Description</imput>
    <imput type="submit" value="save">

    <p>@Model.LastUpdated</p>

    <!---This is where the hiden rejection box goes with the block and whatnot-->
    <p></p>
<div/>

<!---Additional scripting and css to lign up the page-->
<css>
    
    .EventInfo{
        float: right; }
    .EventImage{
        width: 3.5vw;
        height: 3.5vw;
        float: left;
    } 
    #EventDescription{
    width: 15vw;
    height: 10vh;
    }
    .DisplayImg{
    float: left;
    width: 7vw;
    height: 7vh;
    }
</css>