@model CampusGuidebook.ViewModel.EventViewModel;
@addTagHelper "*, Microsoft.aspNetCore.Mvc.TagHelpers"
@{
    ViewData["Title"] = "Home Page";
}
<h1>Events</h1>
<div class="EventList">
    <form asp-action="Index">
        Search: <imput id="SearchEvent" name="SearchEvent"/>
        <imput type="submit" value="Find Event"></imput>

    </form>
    @foreach (var Events in Model){
        <tr>
            <td></td>
            <div class="SingleEventBox">
                <a asp-action="SelectedEvent" asp-controller="Events" asp-route-id="@Events.id"><td>@Events.ImgUri @Events.Name</td></a>
            </div>
        </tr>
    }
</div>

<div class="EventInfo">
    <p>Event status</p>
        <select asp-for="UploadStatusString" asp-items="@new SelectList(Enum.GetNames(typeof(UploadStatusEnum)))"></select>
        <option disabled selected value="">@UploadStatusString</option>
    <p>@Events.Name description</p>

</div>
<script>
    $( function(){
    $("imput#SearchEvent").autocomplete({
        source: "api/Event/Name",
        minLength: 2
    });});
</script>